!!! Strict
%html
  %head
    %title= [@title, "Padrino Sample Blog"].compact.join(" | ")
    = stylesheet_link_tag 'reset', 'application'
    = javascript_include_tag 'jquery', 'application'
    = yield_content :include
  %body
    #header
      %h1 Sample Padrino Blog
      %ul.menu
        %li= link_to 'Blog', url_for(:posts, :index)
        %li= link_to 'About', url_for(:about)
    #container
      #main= yield
      #sidebar
        - form_tag url_for(:posts, :index), :method => 'get' do
          Search for:
          = text_field_tag 'query', :value => params[:query]
          = submit_tag 'Search'
        %p Recent Posts
        %ul.bulleted
          %li Item 1 - Lorem ipsum dolorum itsum estem
          %li Item 2 - Loren ipsum dolorum itsum estem
          %li Item 3 - Loren ipsum dolorum itsum estem
        %p Categories
        %ul.bulleted
          %li Item 1 - Loren ipsum dolorum itsum
          %li Item 2 - Loren ipsum dolorum itsum
          %li Item 3 - Loren ipsum dolorum itsum
        %p Latest Comments
        %ul.bulleted
          %li Item 1 - Loren ipsum dolorum itsum
          %li Item 2 - Loren ipsum dolorum itsum
          %li Item 3 - Loren ipsum dolorum itsum
    #footer
      Copyright (c) 2009-2011 Padrino
